</main>
<footer class="site-footer">
  <div class="footer-container">
    <div class="footer-columns">

      <div class="footer-column">
        <h3>NexTech</h3>
        <p class="info-text">33 Xô Viết Nghệ Tĩnh, Hòa Cường Nam, Hải Châu, Đà Nẵng</p>
        <p class="info-text">Email:nguyenphuongtra@gmail.com</p>
        <p class="info-text">Điện thoại: 0365480142</p>
      </div>

      <div class="footer-column">
        <h3>Về NexTech</h3>
        <ul>
          <li><a href="">Giới thiệu</a></li>
          <li><a href="">Liên hệ</a></li>
          <li><a href="">Điều khoản</a></li>
          <li><a href="">Bảo mật</a></li>
        </ul>
      </div>

      <div class="footer-column">
        <h3>Sản phẩm</h3>
        <ul>
          <li><a href="">Phone</a></li>
          <li><a href="">Laptop</a></li>
          <li><a href="">Màn Hình</a></li>
          <li><a href="">Laptop</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Chính sách</h3>
        <ul>
          <li><a href="">Chính sách bảo hành</a></li>
          <li><a href="">Chính sách đổi trả</a></li>
          <li><a href="">Chính sách bảo mật</a></li>
          <li><a href="">Chính sách trả góp</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Quản lý tài khoản </h3>
        <p class="info-text">Thay đổi thông tin</p>
        <p class="info-text">Lấy lại mật khẩu</p>
        <p class="info-text">Tra cứu đơn hàng</p>
        <p class="info-text">Quản lý giỏ hàng</p>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2025 E-Commerce. All rights reserved.</p>
      <div class="social-icons">
        <a href="#" class="social-icon youtube"><i class="fab fa-youtube"></i></a>
        <a href="#" class="social-icon facebook"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social-icon tiktok"><i class="fab fa-tiktok"></i></a>
      </div>
    </div>
  </div>
</footer>

</body>
</html>
